*{
    margin: 0;
    padding: 0;
}
body{
    width: 1400px;
    margin: 0 auto;
}
@font-face {
    font-family: 'roboto_slabbold';
    src: url('robotoslab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'variane_scriptregular';
    src: url('../fonts/variane_script-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSerif-Italic';
    src: url('../fonts/DroidSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-top: 45px;
}
.header-list{
    list-style: none;
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: center;
}
.header-item{
    transition-duration: 200ms;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 5px 0px;
}

.header-logo{
    font-family: 'variane_scriptregular', sans-serif;
    font-size: 26px;
    color: #fed136;
}
.header-item:hover{
    color: #fed136;
    border-bottom: 1px solid #fed136;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.main-section{
    width: 940px;
    margin: 0 auto;
    padding-top: 120px;
}
.main-title{
    font-family: 'roboto_slabbold', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.main-subtitle{
    font-family: 'DroidSerif-Italic', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #777777;
    padding-top: 20px;
}
.articles{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
}
.img-container-1{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #fed136;
    border-radius: 50px;
    background-image: url('../img/Composed-layer@1X.png');
}
.img-container-2{
    background-image: url('../img/Composed-layer@1X\ \(1\).png');
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #fed136;
    border-radius: 50px;
}
.img-container-3{
    background-image: url('../img/Composed-layer@1X\ \(2\).png');
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #fed136;
    border-radius: 50px;
}
.article-title{
    font-family: 'roboto_slabbold', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-top: 27px;
}
.article-text{
    font-family: 'roboto_slabbold', sans-serif;
    font-size: 14px;
    color: #777777;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    width: 290px;
    padding-bottom: 150px;
}
.form-section{
    margin: 0 auto;
    background-image: url('../img/Map\ Image@1X.png');
    background-repeat: no-repeat;
    background-position: 100% 75%;
    background-color: #222222;
}
.form-title{
    font-family: 'roboto_slabbold', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-top: 150px;
}
.form-subtitle{
    font-family: 'DroidSerif-Italic', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #777777;
    padding-top: 20px;
}
.user-form{
    font-family: 'montserrat', sans-serif;
    margin: 0 auto;
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 940px;
    height: 210px;
    list-style: none;
    align-content: space-between;
}
.form-item:nth-last-child(n+3){
    padding-bottom: 30px;
}
.form-item{
    width: 455px;
}
input{
    width: 430px;
    height: 48px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
}
textarea{
    font-family: 'montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    width: 410px;
    height: 168px;
    padding: 20px
}
.profile-form input[name="email"]:valid, 
.profile-form input[name="name"]:valid,
.profile-form textarea:valid{
    outline: 1px solid green;
}
.profile-form input[name="email"]:invalid, 
.profile-form input[name="name"]:invalid,
.profile-form textarea:invalid{
    outline: 1px solid red;
}
.form-button{
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    line-height: 14px;
    background-color: #fed136;
    border: 1px solid #fed136;
    border-radius: 3px;
    padding: 25px 47px;
    display: block;
    margin: 30px auto;
}
.profile-form{
    padding-bottom: 115px;
}
