*{
    margin: 0;
    padding: 0;
}

.container {
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin-bottom: 70px;
}

.logo-img { 
    padding-top: 10px;
}
.header{
    padding-top: 15px;
    padding-bottom: 130px;
}

.header, .slider {
    width: 940px;
    margin: 0 auto;
}

.header, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    width: 526px;
    font-weight: 900;
}

.menu-item:hover {
    color: #00e0d0;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slider-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width:770px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 50px;
}

.main-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: 32px;
}

.main-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color:#00e0d0;
    margin: 21px auto 30px;
}

.more {
    text-decoration: none;
    font-family:'Hammersmith One', sans-serif;
    font-size: 16px;
    text-align: center;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    padding: 15px 15px;
    margin-bottom: 127px;
    display: inline-block;
    line-height: 10px;
}

.points{
    margin-bottom: 70px;
}

.our-story {
    align-items: center;
    display: flex;
    width: 873px;
    margin: 0px auto 70px;
    justify-content: space-between;
}

.story-content {
    width: 538px;
    height: 246px;
    text-align: left;
}

.title {
    font-family: 'Playfair Display' , sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 28px;
}

.story-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 28px;

}
.player {
    background-image: url("../img/bg2.png");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 202px 0;
    font-weight: 700;
}

.player-button {
    width: 100px;
    height: 100px;
    background: transparent;
    border: none;
    background-image: url("../img/player-button.png");
}
.player-text {
    padding-top: 34px;
}









